.formContainer {
  display: flex;
  width: 100%;
  background: lightgray;
  height: 150px;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
}

.button {
  background: blue;
  height: 30px;
  color: white;
  width: 15%;
  font-weight: bold;
  margin: 10px 0 0 3%;
}


.labelText {
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 50px;
}

.formBox {
  
  /* width: 10%; */
}

.leftForms {
  display: flex;
  /* height: 75px; */
  /* width: 40%; */
  /* border: yellow solid 3px; */

}

.rightForms {
  display: flex;
  /* height: 75px; */
  /* width: 40%; */
  /* border: red solid 3px; */
}
